/* - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 :root{
    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
 }

 /* MOBILE DESIGN */

.card-area{
    background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 68%, 11%), hsl(278, 95%, 26%), hsl(278, 95%, 26%), hsl(278, 68%, 11%));
    height: 35vh;
    position: relative;
}

.back-card img{
    width: 80%;
    position: absolute;
    left: 19%;
    top: 13%;
    


}

.front-card img{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 10;
}

.back-card-number{
    position: absolute;
    top: 41%;
    left: 83%;
    font-size: 19px;
    color: var(--White);

}

.front-card-number{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 26px;
    color: var(--White);
    z-index: 100;
}

.jane-appleseed{
    display: flex;
    gap: 90px;
    position: absolute;
    top: 98%;
    left: 8%;
    z-index: 100;
    font-size: 16.4px;
    color: var(--White);
}

.front-card-logo{
    background-color: var(--White);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    z-index: 1000;
    position: absolute;
    top: 56%;
    left: 10%;
}
.front-card-circle{
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--White);
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 22%;
}





.form_text-area{
    padding-top: 97px;
    padding-left: 18px;
    padding-right: 20px;
    
}

.card-name{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.card-number{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.date-and-cvc{
    display: flex;
}
.date{
    display: flex;
}

.holder-name{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 900;
    color: var(--Very-dark-violet);
}
.card-name input[type="text"]{
    width: 94%;
    height: 50px;
    border: 2px solid var(--Dark-grayish-violet);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: var(--Dark-grayish-violet);
    margin: 10px;
}

.card-number input[type="text"]{
    width: 94%;
    height: 50px;
    border: 2px solid var(--Dark-grayish-violet);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: var(--Dark-grayish-violet);
    margin: 10px;
}



.date{
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}

.cvc{
    display: flex;
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.holder{
    margin-left: 50px;
    font-size: 19px;
    font-weight: 900;
}

.date input[type="text"]{
    width: 80%;
    height: 50px;
    border: 2px solid var(--Dark-grayish-violet);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: var(--Dark-grayish-violet);
    margin: 10px;
}

#year[type="text"]{
    width: 60%;
    height: 50px;
    border: 2px solid var(--Dark-grayish-violet);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: var(--Dark-grayish-violet);
    margin: 10px;
}


#cvc[type="text"]{
    width: 100%;
    height: 50px;
    border: 2px solid var(--Dark-grayish-violet);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: var(--Dark-grayish-violet);
    margin: 10px;
}




aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px;
    background-color: var(--Very-dark-violet);
    margin: 15px;
    font-weight: 500;
    color: var(--White);
}


/* DEsKTOP DESIGN */
/* MEDIA QUERY */
@media screen and (min-width:768px) {
    .card-area{
        background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 68%, 11%), hsl(278, 95%, 26%), hsl(278, 95%, 26%), hsl(278, 68%, 11%));
        height: 100vh;
        width: 35%;
        position: relative;
        z-index: 20;
        
    }

    .back-card img{
        width: 90%;
        display: flex;
        position: absolute;
        top: 50%;
        left: 54%;

    }

    .front-card {
       /* position: relative; */
    }


    .front-card img{
        width: 90%;
        position: absolute;
        top: 15%;
        left: 40%;
        z-index: 100;
    }


    .container{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .form_text-area{
        /* padding-top: 50px;
        padding-left: 18px;
        padding-right: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        
    }
    
    .card-name{
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
    }
    
    .card-number{
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
    }
    
    .date-and-cvc{
        display: flex;
    }
    .date{
        display: flex;
    }

    
    .holder-name{
        margin-left: 210px;
        /* margin-bottom: 15px; */
        font-size: 19px;
        font-weight: 900;
        color: var(--Very-dark-violet);
    }
    .card-name input[type="text"]{
        width: 50%;
        height: 50px;
        border: 2px solid var(--Dark-grayish-violet);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        color: var(--Dark-grayish-violet);
        /* margin: 10px; */
    }
    
    .card-number input[type="text"]{
        width: 50%;
        height: 50px;
        border: 2px solid var(--Dark-grayish-violet);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        color: var(--Dark-grayish-violet);
        /* margin: 10px; */
    }
    
    
    
    .date{
        display: flex;
        /* gap: 10px; */
        justify-content: center;
        align-items: center;
    }
    
    .cvc{
        display: flex;
        /* gap: 10px; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    .holder{
        margin-left: 70px;
        font-size: 19px;
        font-weight: 900;
    }
    



    .date input[type="text"]{
        width: 25%;
        height: 50px;
        border: 2px solid var(--Dark-grayish-violet);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 120px;
        color: var(--Dark-grayish-violet);
        /* margin: 10px; */
    }
    #year[type="text"]{
        width: 12%;
        height: 50px;
        border: 2px solid var(--Dark-grayish-violet);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        margin-left: -70px;
        color: var(--Dark-grayish-violet);
        /* margin: 10px; */
    }
    #cvc[type="text"]{
        width: 55%;
        height: 50px;
        border: 2px solid var(--Dark-grayish-violet);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        /* margin-left: -10px; */
        color: var(--Dark-grayish-violet);
        /* margin: 10px; */
    }
    
    
    
    
    aside{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    input[type="submit"]{
        width: 50%;
        height: 50px;
        border-radius: 10px;
        font-size: 22px;
        padding: 10px;
        background-color: var(--Very-dark-violet);
        margin: 15px;
        font-weight: 500;
        color: var(--White);
    }
    
    .back-card-number{
        position: absolute;
        top: 64.5%;
        left: 125%;
        font-size: 19px;
        color: var(--White);
        z-index: 1000;
    
    }
    
    .front-card-number{
        position: relative;
        top: 33%;
        left: 46%;
        font-size: 35px;
        color: var(--White);
        z-index: 400;
        transform: translate(-50% -50%);
    }
    
    .jane-appleseed{
        display: flex;
        gap: 140px;
        position: relative;
        top: 36%;
        left: 45%;
        z-index: 200;
        font-size: 17px;
        color: var(--White);
    }
    
    .front-card-logo{
        background-color: var(--White);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        z-index: 1000;
        position: absolute;
        top: 17%;
        left: 45%;
    }
    .front-card-circle{
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid var(--White);
        width: 20px;
        height: 20px;
        z-index: 1000;
        position: absolute;
        top: 19%;
        left: 57%;
    }
    
    
}
